<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <!-- Material Design for Bootstrap fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">

  <!-- Material Design for Bootstrap CSS -->
  <link crossorigin="anonymous"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" rel="stylesheet">

  <title>Bibliothèque</title>
</head>
<body>

<nav class="" th:replace="fragments/navbar.html :: nav"></nav>

<div class="container-fluid">
  <div class="row">
    <nav class="" th:replace="fragments/sidenav.html :: nav"></nav>


    <main class="col-9" role="main">

      <div class="row mt-5">

        <div class="col border">
          <img alt="..." class="img-fluid" src="http://www.pngmart.com/files/1/Book-PNG-File.png" width="200">
        </div>

        <div class="col border">
          <h5 class="text-justify font-weight-bold" th:text="${ouvrage.name}"></h5>
          <h5 class="text-justify mt-3" th:text="${ouvrage.author}"></h5>
          <h5 class="text-justify" th:text="'Edition ' + ${ouvrage.editor}"></h5>
          <h5 class="text-justify" th:text="'Sorti le ' + ${#dates.format(ouvrage.releaseDate, 'dd-MM-yyyy')}"></h5>
          <h5 class="text-justify" th:text="'Nombre de pages: ' + ${ouvrage.numberOfPages}"></h5>
        </div>

        <div class="col border">
          <p th:text="'Notation sur 5:'"></p>
          <th:block th:each="star: ${#numbers.sequence(1, ouvrage.notation)}">
            <img class="" height="80" th:src="@{/images/star.png}" width="80">
          </th:block>
          <p class="mt-5" th:text="'Encore en stock: '"><h6 class="font-weight-bold" th:text="${ouvrage.quantity}"></h6>

          <button type="button" class="btn btn-raised btn-primary">Reserver cet ouvrage</button>

        </div>

        <div class="mt-5">
          <h5 class="text-justify font-weight-bold" th:text="'Description:'"></h5>
          <p class="text-left mt-2" th:text="${ouvrage.summary}"></p>
        </div>

      </div>


    </main>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
<script>$(document).ready(function () {
  $('body').bootstrapMaterialDesign();
});</script>
</body>
</html>
