<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <!-- Material Design for Bootstrap fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">

  <!-- Material Design for Bootstrap CSS -->
  <link crossorigin="anonymous"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" rel="stylesheet">

  <title>Bibliothèque</title>
</head>
<body>

<nav class="" th:replace="fragments/navbar.html :: nav"></nav>


<th:block th:if="${!errorMessage.isEmpty()}">
  <div class="alert alert-danger text-center" th:text="${errorMessage}"></div>
</th:block>

<div class="container">

  <div class="row mt-5">
    <div class="col-sm">
      <img alt="..." class="img-fluid mx-auto d-block" src="http://www.pngmart.com/files/1/Book-PNG-File.png" width="200">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm align-self-center">
      <h5 class="text-center font-weight-bold" th:text="${ouvrage.name}"></h5>
      <h5 class="text-center mt-3" th:text="${ouvrage.author}"></h5>
      <h5 class="text-center" th:text="'Edition ' + ${ouvrage.editor}"></h5>
      <h5 class="text-center" th:text="'Sorti le ' + ${#dates.format(ouvrage.releaseDate, 'dd-MM-yyyy')}"></h5>
      <h5 class="text-center" th:text="'Nombre de pages: ' + ${ouvrage.numberOfPages}"></h5>
    </div>
    <div class="col-sm align-self-center text-center">
      <p th:text="'Notation sur 5:'"></p>
      <th:block th:each="star: ${#numbers.sequence(1, ouvrage.notation)}">
        <img class="" height="80" th:src="@{/images/star.png}" width="80" alt="" src="">
      </th:block>
      <p class="mt-5" th:text="'Encore en stock: '"><h6 class="font-weight-bold" th:text="${ouvrage.quantity}"></h6>

      <a class="nav-link" th:href="'/reservation/creer?ouvrage_id=' + ${ouvrage.ouvrageId}">
        <div th:switch="${ouvrage.getQuantity()}">
          <span th:case="'0'"><button class="btn btn-raised btn-primary" type="button">Liste d'attente</button></span>
          <span th:case="*"><button class="btn btn-raised btn-primary" type="button">Réserver cet ouvrage</button></span>
        </div>
      </a>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6 mx-auto">
      <h5 class="text-left font-weight-bold" th:text="'Description:'"></h5>
      <p class="text-left mt-2" th:text="${ouvrage.summary}"></p>
    </div>
  </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
<script>$(document).ready(function () {
  $('body').bootstrapMaterialDesign();
});</script>
</body>
</html>
