<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <!-- Material Design for Bootstrap fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">

  <!-- Material Design for Bootstrap CSS -->
  <link crossorigin="anonymous"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" rel="stylesheet">

  <title>Bibliothèque</title>
</head>
<body>

<nav class="" th:replace="fragments/navbar.html :: nav"></nav>

<div class="container-fluid">
  <div class="row">
    <nav class="" th:replace="fragments/sidenav.html :: nav"></nav>

    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">

      <div class="row justify-content-center">
        <th:block th:each="reservation : ${reservationList}">
          <th:block th:if="${reservation.active}">
            <div class="card m-3 border" style="width: 18rem;">
              <img alt="Image du livre" class="card-img-top img-fluid"
                   src="https://ashmagautam.files.wordpress.com/2013/11/mcj038257400001.jpg">
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold" th:text="${reservation.getName()}"></h5>
                <p class="card-text text-center" th:text="${reservation.getAuthor()}"></p>
                <div class="col d-flex justify-content-center mb-3">
                  <th:block th:each="star: ${#numbers.sequence(1, reservation.getNotation())}">
                    <img class="mx-1" height="40" th:src="@{/images/star.png}" width="40">
                  </th:block>
                </div>
                <p class="card-text text-center"
                   th:text="'Du ' + ${#dates.format(reservation.reservationDateDebut, 'dd-MM-yyyy')} + ' au ' + ${#dates.format(reservation.reservationDateFin, 'dd-MM-yyyy')}"></p>
                <a class="btn btn-outline-secondary d-flex justify-content-center"
                   th:href="@{'/ouvrage?id=' + ${reservation.ouvrageId}}">Description ..</a>
                <th:block th:switch="${reservation.isAlreadyProlonger()}">
                <span th:case="false">
                <a class="btn btn-outline-secondary d-flex justify-content-center"
                   th:href="@{'/reservation/prolonger/' + ${reservation.reservationId}}">Prolonger ma réservation</a>
                </span>
                  <span th:case="true">
                  <a class="btn btn-outline-warning d-flex justify-content-center disabled">Réservation déjà prolongée...</a>
                </span>
                </th:block>
              </div>
            </div>
          </th:block>
        </th:block>

      </div>

    </main>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
<script>$(document).ready(function () {
  $('body').bootstrapMaterialDesign();
});</script>
</body>
</html>
