<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap">
  <a class="navbar-brand col-sm-3 col-md-2 text-center" href="/listedesouvrages">Bibliothèque</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <span class="text-light mx-3" th:text="${currentUser}"></span>
      <a href="/logout">
        <button class="btn btn-raised btn-secondary" type="button">Déconnection</button>
      </a>
    </li>
  </ul>
</nav>