<!doctype html>
<html lang="en">

<nav class="navbar navbar-dark sticky-top bg-dark">
  <a class="navbar-brand col-sm-3 col-md-2 text-center" href="/listedesouvrages">Bibliothèque</a>

  <div class="navbar-nav">
    <div class="row">
      <a class="nav-link" href="/listedesouvrages">
        <button class="btn btn-raised btn-primary" type="button">Les ouvrages</button>
      </a>

      <a class="nav-link" href="/reservation">
        <button class="btn btn-raised btn-primary" type="button">Mes réservations</button>
      </a>

      <a class="nav-link" href="/logout">
        <button class="btn btn-raised btn-secondary" type="button">Déconnection</button>
      </a>
    </div>

  </div>
</nav>
